// Main Color
$main: #e6007e;

// Gray
$white: #ffffff;
$gray-0: #f2f2f2;
$gray-1: #efeff2;
$gray-2: #ebebee;
$gray-3: #e0e0e5;
$gray-4: #cacacc;
$gray-5: #b1b1b3;
$gray-6: #767679;
$gray-7: #444348;
$gray-8: #15141a;
$black: #000000;
$pink: #e6007e;

$text-gray: #a6a6a6;
