.btn_text {
  font-size: 14px;
  font-weight: var(--semibold);
}

.btn_img {
  width: 16px !important;
  height: 16px !important;
}

.scroll_x {
  display: flex;
  overflow-x: scroll;
  margin-left: 30px;
  margin-bottom: 50px;
}

.scroll_y {
  overflow-y: scroll;
}
