.btn_text {
  font-size: 14px;
  font-weight: var(--semibold);
}

.btn_img {
  width: 16px !important;
  height: 16px !important;
}

.scroll_x {
  display: flex;
  overflow-x: scroll;
}

.scroll_y {
  /* display: flex;
  flex-direction: column; */
  overflow-y: scroll;
}
