.view_card {
  width: 240px;
  height: 318px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  margin: auto 2px;
}

.view_img {
  width: 240px;
  height: 230px;
  background-size: cover;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.view_title {
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 20px;
}
