.l_card {
  width: 280px;
  height: 434px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}

.m_card {
  width: 240px;
  height: 345px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  margin: auto 2px;
}

.s_card {
  width: 158px;
  /* height: 220px; */
  height: 244px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  margin: 8px 2px;
}

.l_main_img {
  width: 280px !important;
  height: 316px !important;
  background-size: cover;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.m_main_img {
  width: 240px !important;
  height: 230px !important;
  background-size: cover;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.s_main_img {
  width: 158px !important;
  height: 158px !important;
  background-size: cover;
  border-radius: 24px;
  position: relative;
}

.l_title {
  height: 118px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 20px;
}

.m_title {
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 20px;
}

.s_title {
  height: 62px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  width: 100%;
  font-size: 20px;
  font-weight: var(--semibold);
  word-break: keep-all;
  white-space: pre-line;
  text-align: left;
}

.heart {
  width: 19px;
  height: 17px;
  position: absolute;
  top: 15px;
  right: 15px;
}
