.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.test {
  position: absolute;
  margin-top: -300px;
}

.discovery_guide {
  /* width: 360px; */
  width: 100%;
  height: 601px;
  background-color: #f2f2f2;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}

/* .discovery_guide_card {
  width: 320px;
  height: 400px;
  border-radius: 24px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  display: grid;
  grid-template-rows: 3fr 1fr;
} */

.discovery_guide_card_btn {
  width: 320px !important;
  height: 400px !important;
  border-radius: 24px;
}

.swiper-slide {
  background-color: #f2f2f2;
}
