.discovery_card {
  width: 360px;
  height: 601px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 24px;
}

.music_btn_text {
  font-size: 12px;
  font-weight: var(--semibold);
}

.detail_btn_text {
  font-size: 12px;
  font-weight: var(--semibold);
}

.detail_btn {
  width: 19.2px;
  height: 19.2px;
}
