.navbar {
  width: 360px;
  height: 70px;
  background-color: #1a1a1a;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

img {
  width: 24px;
  height: 24px;
}

.nav_btn {
  height: 56px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav_selected {
  color: white;
}
