.refresh_section {
  width: 360px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1a1a1a;
  color: white;
  border-radius: 24px;
  font-size: 16px;
  font-weight: var(--semibold);
}

.refresh_btn_text {
  font-size: 14px;
  font-weight: var(--semibold);
}

.refresh_btn {
  width: 16px;
  height: 16px;
}
