.subject {
  font-size: 14px;
  font-weight: bold;
  white-space: pre-line;
  color: #8e8e8e;
}

.description {
  font-weight: bold;
  white-space: pre-line;
  text-align: left;
  word-break: keep-all;
}
