.child {
    top: 0;
    left: 0;
    background-color: var(--color-black);
    width: 22.5rem;
    height: 10.88rem;
  }
  .child,
  .icon,
  .item {
    position: absolute;
  }
  .icon {
    top: 15.25rem;
    left: 1.25rem;
    width: 6.25rem;
    height: 6.25rem;
    object-fit: cover;
  }
  .item {
    top: 40.88rem;
    left: 0;
    width: 22.5rem;
    height: 5.38rem;
  }
  .p {
    margin: 0;
  }
  .div1,
  .div2 {
    position: absolute;
    left: 1.25rem;
  }
  .div1 {
    top: 3.38rem;
    font-size: var(--font-size-3xl);
    line-height: 2rem;
    font-weight: 500;
    color: var(--label-color-dark-primary);
  }
  .div2 {
    top: 7.75rem;
    line-height: 1.25rem;
    color: var(--color-gray-200);
  }
  .div3,
  .div4 {
    position: absolute;
    top: 11.88rem;
    font-size: var(--font-size-base);
    line-height: 1.5rem;
  }
  .div3 {
    left: 3.75rem;
    font-weight: 500;
  }
  .div4 {
    left: 15rem;
    color: var(--color-gray-200);
  }
  .child1,
  .inner,
  .vectorIcon {
    position: absolute;
    height: 0.06rem;
  }
  .inner {
    top: 27.84rem;
    left: 1.25rem;
    width: 20rem;
  }
  .child1,
  .vectorIcon {
    top: 13.97rem;
    left: 0;
    width: 22.5rem;
  }
  .child1 {
    width: 11.25rem;
  }
  .div5,
  .div6 {
    position: relative;
    line-height: 1.25rem;
  }
  .div5 {
    font-weight: 500;
  }
  .div6 {
    font-size: var(--font-size-sm);
    color: var(--color-gray-200);
    display: inline-block;
    width: 12.94rem;
  }
  .parent {
    position: absolute;
    top: 18.19rem;
    left: 8.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
    font-size: var(--font-size-base);
  }
  .div7 {
    position: relative;
    line-height: 1.25rem;
  }
  .wrapper {
    position: absolute;
    top: 15.69rem;
    left: 8.25rem;
    background-color: var(--color-linen-100);
    display: flex;
    flex-direction: row;
    padding: var(--padding-11xs) var(--padding-3xs);
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--color-dimgray-200);
  }
  .groupIcon {
    position: absolute;
    top: 16.04rem;
    left: 20.35rem;
    width: 0.79rem;
    height: 0.79rem;
  }
  .groupChild {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-whitesmoke-100);
    width: 20rem;
    height: 4.25rem;
  }
  .open {
    position: relative;
    line-height: 1.13rem;
    font-weight: 500;
  }
  .openWrapper {
    position: absolute;
    top: 0.81rem;
    left: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .div8 {
    position: relative;
    line-height: 1.13rem;
  }
  .container {
    position: absolute;
    top: 2.31rem;
    left: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: var(--color-gray-200);
  }
  .groupInner,
  .rectangleParent {
    position: absolute;
    top: 1.69rem;
    left: 1.19rem;
    width: 0.85rem;
    height: 1.05rem;
  }
  .rectangleParent {
    top: 22.38rem;
    left: 1.25rem;
    width: 20rem;
    height: 4.25rem;
  }
  .div {
    position: relative;
    background-color: var(--label-color-dark-primary);
    width: 100%;
    height: 46.25rem;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-noto-sans);
  }
  