.image160Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 22.5rem;
  height: 48.75rem;
  object-fit: cover;
}
.phoneIcon {
  position: relative;
  width: 3.12rem;
  height: 3.12rem;
  flex-shrink: 0;
  overflow: hidden;
}
.phoneParent {
  position: absolute;
  top: 41.23rem;
  left: 1.73rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12.87rem;
}
.div1,
.div2 {
  position: relative;
}
.div1 {
  letter-spacing: -0.02em;
}
.div2 {
  font-size: 0.98rem;
  line-height: 1.85rem;
  font-family: var(--components-button-large);
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.bg {
  position: absolute;
  height: 106.41%;
  width: 105.83%;
  top: -2.62%;
  right: -2.47%;
  bottom: -3.79%;
  left: -3.36%;
  background-color: var(--color-black);
}
.maskGroup {
  position: relative;
  width: 3.07rem;
  height: 3.07rem;
  flex-shrink: 0;
}
.contentTitle {
  flex: 1;
  position: relative;
  font-weight: 800;
}
.time {
  position: relative;
  font-size: 0.68rem;
  letter-spacing: -0.02em;
  line-height: 0.79rem;
  font-weight: 500;
  color: #3f3f3f;
  text-align: right;
  display: none;
  opacity: 0.5;
}
.headChild {
  position: relative;
  width: 0.52rem;
  height: 0.3rem;
  flex-shrink: 0;
}
.head {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.45rem;
}
.contentText {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
}
.bottom {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--components-button-large-size);
  color: rgba(0, 0, 0, 0.9);
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.13rem;
}
.container,
.frameParent {
  display: flex;
  align-items: center;
}
.container {
  border-radius: 16.98px;
  background-color: rgba(255, 255, 255, 0.48);
  backdrop-filter: blur(36.11px);
  width: 20.77rem;
  flex-direction: row;
  padding: 0.68rem 0.9rem;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 0.45rem;
  text-align: left;
  font-size: 1.03rem;
  color: var(--color-black);
}
.frameParent {
  position: absolute;
  top: 7.88rem;
  left: 0.88rem;
  flex-direction: column;
  justify-content: center;
  gap: 1.73rem;
}
.div {
  position: relative;
  background-color: var(--label-color-dark-primary);
  width: 100%;
  height: 46.25rem;
  overflow: hidden;
  text-align: center;
  font-size: 4.27rem;
  color: var(--label-color-dark-primary);
  font-family: var(--font-noto-sans);
}
