.icon,
.icon1,
.icon2 {
  /* position: absolute; */
  top: 190.19rem;
  left: 1.25rem;
  width: 9.69rem;
  height: 9.69rem;
  object-fit: cover;
}
.icon1,
.icon2 {
  top: 179.5rem;
}
.icon2 {
  top: 168.81rem;
}
.child {
  top: 131.44rem;
  background-color: var(--color-black);
  width: 22.5rem;
  height: 26.5rem;
}
.child,
.div1,
.groupChild {
  /* position: absolute; */
  left: 0;
}
.div1 {
  top: 0;
  line-height: 1.13rem;
  font-weight: 300;
}
.groupChild {
  top: 1.11rem;
  width: 2.56rem;
  height: 0.03rem;
}
.parent {
  /* position: absolute; */
  top: 134.31rem;
  left: 17.38rem;
  width: 2.63rem;
  height: 1.13rem;
  font-size: var(--font-size-xs);
  color: var(--label-color-dark-primary);
}
.item {
  top: 134.59rem;
  left: 20.48rem;
  width: 0.8rem;
  height: 0.8rem;
  opacity: 0.6;
}
.icon3,
.icon4,
.item {
  /* position: absolute; */
}
.icon3 {
  top: 70.94rem;
  left: 8.13rem;
  width: 14.38rem;
  height: 14.38rem;
  object-fit: cover;
}
.icon4 {
  top: 67.81rem;
  left: 0;
  width: 7.5rem;
  height: 11.31rem;
}
.icon4,
.icon5,
.icon6 {
  object-fit: cover;
}
.icon5 {
  /* position: absolute; */
  top: 42.06rem;
  left: 0;
  width: 14.38rem;
  height: 14.38rem;
}
.icon6 {
  height: 24.63rem;
}
.group,
.icon6,
.icon7 {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 22.5rem;
}
.icon7 {
  height: 24.81rem;
  object-fit: cover;
}
.group {
  height: 24.63rem;
}
.p {
  margin: 0;
}
.div2 {
  top: 26.88rem;
  font-weight: 500;
  color: var(--color-black);
}
.best,
.div2,
.div3,
.div4,
.div5,
.div6 {
  /* position: absolute; */
  left: 1.25rem;
  font-size: var(--font-size-3xl);
  line-height: 2rem;
}
.best {
  top: 161.69rem;
  font-weight: 500;
  color: var(--color-black);
}
.div3,
.div4,
.div5,
.div6 {
  top: 133.94rem;
  color: var(--label-color-dark-primary);
}
.div4,
.div5,
.div6 {
  top: 58.94rem;
  font-weight: 500;
  color: var(--color-black);
}
.div5,
.div6 {
  top: 116.69rem;
}
.div6 {
  top: 87.81rem;
}
.best2,
.div10,
.div11,
.div7,
.div8,
.div9 {
  /* position: absolute; */
  top: 31.25rem;
  left: 1.25rem;
  line-height: 1.25rem;
}
.best2,
.div10,
.div11,
.div8,
.div9 {
  top: 166.06rem;
}
.div10,
.div11,
.div8,
.div9 {
  top: 138.31rem;
}
.div10,
.div11,
.div9 {
  top: 57.69rem;
}
.div10,
.div11 {
  top: 115.44rem;
}
.div11 {
  top: 86.56rem;
}
.div12,
.div13,
.div14,
.div15,
.div16,
.div17 {
  /* position: absolute; */
  top: 0.69rem;
  line-height: 1.5rem;
}
.div12 {
  left: 0;
  font-weight: 500;
  color: var(--color-black);
}
.div13,
.div14,
.div15,
.div16,
.div17 {
  left: 3.25rem;
}
.div14,
.div15,
.div16,
.div17 {
  left: 6.5rem;
}
.div15,
.div16,
.div17 {
  left: 10.63rem;
}
.div16,
.div17 {
  left: 14.75rem;
}
.div17 {
  left: 18.31rem;
}
.groupInner,
.groupItem,
.vectorIcon {
  /* position: absolute; */
  top: -0.03rem;
  left: 0;
  width: 21.25rem;
  height: 0.06rem;
}
.groupInner,
.vectorIcon {
  top: 2.91rem;
}
.vectorIcon {
  width: 1.75rem;
}
.container {
  /* position: absolute; */
  top: 34.38rem;
  left: 4.75rem;
  width: 21.25rem;
  height: 2.94rem;
  font-size: var(--font-size-base);
}
.inner {
  /* position: absolute; */
  top: 34.75rem;
  left: 1.25rem;
  width: 2.25rem;
  height: 2.25rem;
}
.wrapper {
  background-color: var(--color-linen-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-gray-200);
}
.frameChild {
  position: relative;
  width: 0.25rem;
  height: 0.25rem;
  flex-shrink: 0;
}
.frame,
.frameDiv {
  padding: var(--padding-11xs) var(--padding-3xs);
  align-items: flex-start;
}
.frame {
  border: 1px solid var(--color-gainsboro-300);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frameDiv {
  border: 1px solid var(--color-lightgray-100);
}
.frameContainer,
.frameDiv,
.frameGroup,
.frameParent,
.wrapper1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.wrapper1 {
  border: 1px solid var(--color-gainsboro-400);
  padding: var(--padding-11xs) var(--padding-3xs);
  align-items: flex-start;
}
.frameContainer,
.frameGroup,
.frameParent {
  /* position: absolute; */
  top: 61.94rem;
  left: 1.25rem;
  align-items: center;
  gap: var(--gap-7xs);
  color: var(--color-dimgray-200);
}
.frameContainer,
.frameGroup {
  top: 119.69rem;
}
.frameContainer {
  top: 90.81rem;
}
.icon8 {
  /* position: absolute; */
  top: 46.81rem;
  left: 15rem;
  width: 6.25rem;
  height: 10.88rem;
  object-fit: cover;
}
.div28,
.div29 {
  /* position: absolute; */
  color: var(--label-color-dark-primary);
}
.div28 {
  top: 8.63rem;
  left: 6rem;
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 600;
}
.div29 {
  top: 7.38rem;
  left: 7.56rem;
  line-height: 1.25rem;
  font-weight: 500;
}
.groupIcon,
.top5Icon {
  /* position: absolute; */
  top: 3.13rem;
  left: 20.13rem;
  width: 1.15rem;
  height: 1.15rem;
}
.top5Icon {
  top: 11.44rem;
  left: 6.75rem;
  width: 9.63rem;
  height: 7.69rem;
}
.span {
  text-decoration: underline;
}
.coMagazineContainer {
  position: relative;
  line-height: 1.13rem;
  font-weight: 300;
  display: inline-block;
  width: 13.13rem;
  flex-shrink: 0;
}
.coMagazineWrapper {
  /* position: absolute; */
  top: 0;
  left: 0.63rem;
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.groupChild1 {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 0.63rem;
  height: 0.63rem;
}
.groupChild2 {
  /* position: absolute; */
  top: 0.47rem;
  left: 13.48rem;
  width: 0.8rem;
  height: 0.8rem;
  opacity: 0.6;
}
.groupDiv,
.maskGroupIcon {
  /* position: absolute; */
  top: 18.63rem;
}
.groupDiv {
  left: 5.88rem;
  width: 14.75rem;
  height: 4.13rem;
  font-size: var(--font-size-xs);
  color: var(--label-color-dark-primary);
}
.maskGroupIcon {
  left: 1.88rem;
  width: 4.63rem;
  height: 4.63rem;
  object-fit: cover;
}
.child1,
.rectangleDiv {
  /* position: absolute; */
  top: 42.06rem;
  left: 8.13rem;
  background: linear-gradient(228.37deg, #000, transparent);
  width: 6.25rem;
  height: 6.25rem;
  opacity: 0.6;
}
.child1 {
  top: 70.94rem;
  left: 16.25rem;
}
.unionIcon {
  position: relative;
  width: 1.25rem;
  height: 1.14rem;
}
.child2 {
  /* position: absolute; */
  top: 210.13rem;
  left: 0;
  width: 22.5rem;
  height: 5.38rem;
}
.div30 {
  position: relative;
  line-height: 1.13rem;
  font-weight: 300;
  display: inline-block;
  width: 10.06rem;
  flex-shrink: 0;
}
.wrapper8 {
  /* position: absolute; */
  top: 0.63rem;
  left: 0;
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.groupChild4 {
  /* position: absolute; */
  top: 1.09rem;
  left: 9.73rem;
  width: 0.8rem;
  height: 0.8rem;
  opacity: 0.6;
}
.frameParent1 {
  /* position: absolute; */
  top: 37.31rem;
  left: 1.25rem;
  width: 11.06rem;
  height: 2.5rem;
  font-size: var(--font-size-xs);
  color: var(--label-color-dark-primary);
}
.icon9 {
  top: 99.81rem;
  left: 0;
  width: 14.38rem;
  height: 14.38rem;
  object-fit: cover;
}
.child3,
.icon10,
.icon9 {
  /* position: absolute; */
}
.icon10 {
  top: 97.31rem;
  left: 15rem;
  width: 17.19rem;
  height: 8.38rem;
  object-fit: cover;
}
.child3 {
  top: 99.81rem;
  left: 8.13rem;
  background: linear-gradient(228.37deg, #000, transparent);
  width: 6.25rem;
  height: 6.25rem;
  opacity: 0.6;
}
.child4,
.child5,
.child6 {
  /* position: absolute; */
  top: 141.06rem;
  left: 1.25rem;
  background-color: var(--label-color-dark-primary);
  width: 9.69rem;
  height: 13.75rem;
}
.child5,
.child6 {
  left: 11.56rem;
}
.child6 {
  left: 21.88rem;
}
.groupChild5 {
  /* position: absolute; */
  top: 0;
  left: 0;
  border: 1.5px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 20rem;
  height: 2.75rem;
}
.div31 {
  /* position: absolute; */
  top: 0.69rem;
  left: 6.38rem;
  line-height: 1.38rem;
}
.rectangleParent {
  /* position: absolute; */
  top: 123.69rem;
  left: 1.25rem;
  width: 20rem;
  height: 2.75rem;
  text-align: center;
  font-size: var(--font-size-base);
}
.best3 {
  /* position: absolute; */
  top: 0.69rem;
  left: 6.19rem;
  line-height: 1.38rem;
}
.rectangleGroup {
  /* position: absolute; */
  top: 202.38rem;
  left: 1.25rem;
  width: 20rem;
  height: 2.75rem;
  text-align: center;
  font-size: var(--font-size-base);
}
.groupChild7 {
  /* position: absolute; */
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  width: 3.44rem;
  height: 1.25rem;
  opacity: 0.6;
}
.div32,
.div33 {
  /* position: absolute; */
  top: 0;
  line-height: 1.25rem;
  font-weight: 500;
}
.div32 {
  left: 1.63rem;
  opacity: 0.6;
}
.div33 {
  left: 0.75rem;
}
.groupChild8,
.groupChild9 {
  /* position: absolute; */
  top: 0.44rem;
  left: 2.44rem;
  width: 0.44rem;
  height: 0.44rem;
}
.groupChild9 {
  top: 0.37rem;
  left: 1.24rem;
  width: 0.22rem;
  height: 0.57rem;
  opacity: 0.3;
}
.rectangleContainer {
  /* position: absolute; */
  top: 16.38rem;
  left: 17.31rem;
  width: 3.44rem;
  height: 1.25rem;
  font-size: var(--font-size-3xs);
  color: var(--label-color-dark-primary);
}
.ellipseIcon {
  /* position: absolute; */
  top: 16.56rem;
  left: 19.56rem;
  width: 0.88rem;
  height: 0.88rem;
  opacity: 0.2;
}
.child7,
.child8,
.child9 {
  /* position: absolute; */
  top: 35.06rem;
  left: 18.13rem;
  width: 0.25rem;
  height: 0.25rem;
}
.child8,
.child9 {
  top: 166.13rem;
  left: 9.19rem;
  width: 1.13rem;
  height: 1.13rem;
}
.child9 {
  top: 166.44rem;
  left: 9.69rem;
  width: 0.13rem;
  height: 0.5rem;
}
.div34,
.div35 {
  position: relative;
  line-height: 1.25rem;
}
.div34 {
  font-weight: 500;
}
.div35 {
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  display: inline-block;
  width: 9.44rem;
}
.parent1,
.parent2,
.parent3 {
  /* position: absolute; */
  top: 172.44rem;
  left: 11.81rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.parent2,
.parent3 {
  top: 183.13rem;
}
.parent3 {
  top: 193.81rem;
}
.child10,
.child11,
.child12 {
  /* position: absolute; */
  top: 176.31rem;
  left: 17.81rem;
  width: 3.43rem;
  height: 1.06rem;
}
.child11,
.child12 {
  top: 187rem;
}
.child12 {
  top: 197.69rem;
}
.frameWrapper,
.wrapper9 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.wrapper9 {
  border: 1px solid var(--color-thistle);
  padding: var(--padding-11xs) var(--padding-3xs);
  align-items: flex-start;
}
.frameWrapper {
  align-items: center;
}
.inner1 {
  /* position: absolute; */
  top: 169.94rem;
  left: 11.81rem;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-dimgray-200);
}
.frameParent2,
.inner1,
.inner2 {
  display: flex;
  justify-content: flex-start;
}
.frameParent2 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
}
.inner2 {
  top: 180.63rem;
  left: 11.81rem;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-dimgray-200);
}
.div44,
.inner2,
.inner3 {
  /* position: absolute; */
}
.inner3 {
  top: 191.31rem;
  left: 11.81rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-dimgray-200);
}
.div44 {
  top: 148.94rem;
  left: 2.19rem;
  font-size: var(--font-size-xs);
  line-height: 1.13rem;
  font-weight: 300;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 7.81rem;
}
.icon11,
.maskGroupIcon1 {
  /* position: absolute; */
  top: 148.88rem;
  left: 2.31rem;
  width: 0.44rem;
  height: 0.38rem;
}
.maskGroupIcon1 {
  top: 142rem;
  left: 3rem;
  width: 6.13rem;
  height: 6.13rem;
  object-fit: cover;
}
.list {
  position: relative;
  line-height: 1.25rem;
}
.listWrapper {
  /* position: absolute; */
  top: 152.19rem;
  left: 2.38rem;
  background-color: var(--color-linen-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.div45 {
  /* position: absolute; */
  top: 148.94rem;
  left: 12.5rem;
  font-size: var(--font-size-xs);
  line-height: 1.13rem;
  font-weight: 300;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 7.81rem;
}
.icon12,
.maskGroupIcon2 {
  /* position: absolute; */
  top: 148.88rem;
  left: 13rem;
  width: 0.44rem;
  height: 0.38rem;
}
.maskGroupIcon2 {
  top: 142rem;
  left: 13.31rem;
  width: 6.13rem;
  height: 6.13rem;
  object-fit: cover;
}
.listContainer {
  /* position: absolute; */
  top: 152.19rem;
  left: 12.69rem;
  background-color: var(--color-linen-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.groupChild10 {
  /* position: absolute; */
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1.44rem;
  height: 1.44rem;
  opacity: 0.6;
}
.div46 {
  /* position: absolute; */
  top: 0.06rem;
  left: 0.53rem;
  line-height: 1.25rem;
  font-weight: 300;
}
.rectangleParent1 {
  /* position: absolute; */
  top: 168.81rem;
  left: 1.25rem;
  width: 1.44rem;
  height: 1.44rem;
  color: var(--label-color-dark-primary);
}
.div47 {
  /* position: absolute; */
  top: 0.06rem;
  left: 0.47rem;
  line-height: 1.25rem;
  font-weight: 300;
}
.rectangleParent2,
.rectangleParent3 {
  /* position: absolute; */
  top: 179.5rem;
  left: 1.25rem;
  width: 1.44rem;
  height: 1.44rem;
  color: var(--label-color-dark-primary);
}
.rectangleParent3 {
  top: 190.19rem;
}
.div {
  position: relative;
  background-color: var(--label-color-dark-primary);
  width: 100%;
  /* height: 215.5rem; */
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-noto-sans);
}
